<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       ">

	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="vm://localhost?broker.persistent=false" />
	</bean>
	<bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
		<property name="connectionFactory" ref="connectionFactory" />
	</bean>
	<bean id="commonUtil" class="com.domain.util.CommonUtil" />
	<bean id="customerDetail" class="com.domain.model.CustomerDetail" />
	<bean id="customerInfoProcesser" class="com.domain.processor.CustomerInfoProcesser" />

	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="activemq:queue:test.queue" />
			<to uri="http://www.mocky.io/v2/58bea8c4260000d818f07bfe" />
			<unmarshal>
				<json id="json" library="Jackson" useList="true"
					unmarshalTypeName="com.domain.model.CustomerDetail" />
			</unmarshal>
			<process ref="customerInfoProcesser" />
			<to uri="stream:out" />
		</route>
	</camelContext>
</beans>
